{# ヘッダー #}
{% extends "layout/layout.twig" %}

{#HTMLのタイトルを定義します。#}
{% block title %}取引履歴{% endblock %}

{# このページに適用させたいスタイルシートを指定します #}
{% block header_scripts_add %}{% endblock %}


{% block page_content %}


<table class="table table-striped">
  <thead>
  <tr>
    <th scope="col">IMG</th>
    <th scope="col">NAME</th>
    <th scope="col">DESCRIBE</th>
    <th scope="col">PRICE</th>
  </tr>
  </thead>
  <tbody>
    {% for record in result %}
    <tr>
        <td>
                <a href="./detail/{{ record.p_id  }}/" >
                    <img width = '100'; height ='100';
                        src="/assets/img/item-{{ record.i_id }}.png" >
                </a>
        </td>
        <td>
        {{ record.name }}
        </td>
        <td>
        {{ record.describe }}
        </td>
        <td>
        {{ record.price }}
        </td>
    </tr>
{#
        <h2> item name </h2>
        <p> {{ item.name  }} </p>
        <h2> item describe </h2>
        <p> {{ item.describe  }} </p>
        <h2> item price </h2>
        <p> {{ item.price  }} </p>

#}
    {% endfor %}
    </tbody>
</table>

{% endblock %}

{# フッター #}
{% block footer_scripts_add %}{% endblock %}
