{#レイアウトを継承します#}
{% extends "layout/layout.twig" %}

{#HTMLのタイトルを定義します。#}
{% block title %}サービス名{% endblock %}

{% block page_content %}
<div class="trade-screen">

  <div class="trade-item-name">
    <h2 class="item-name">アイテム名 {{ user.name }}</h2>
  </div>

  <div class="trade-describe">
    <p class="item-desc">{{ user.describe }}</p>
  </div>

  <div class="trade-item">
    <div class="trade-item-image">
      <img class="trade-image" src="/assets/img/item-{{ user.id }}.png" alt="">
    </div>
  </div>

  <div class="trade-user-info">
    <div class="trade-user-info-univ">
        <p class="univ-name">{{ user.univ_name }}</p>
    </div>
    <div class="trade-user-info-campas">
        <p class="campas-name">{{ user.campas_name }}</p>
    </div>
    <div class="trade-user-info-name">
        <p class="user-name">{{ user.username }}</p>
    </div>
    <div class="trade-user-info-itemtag">
        <p class="item-tag">アイテムのカテゴリ {{ user.tagname }}</p>
    </div>
  </div>

  <div class="trade-button">
    <p class="trade-money-sentence">あなたの所持金￥{{ user.money }}</p>
    <a href='/purchase/{{ user.id }}/'>
      <button type="button" class="purchase-btn"　autofocus="true">購入する</button>
    </a>
  </div>
</div>
{% endblock %}
